:root {
    --background-primary: #edebe8;
    --background-secondary: #f5f5f5;
    --logo-color: #28b79b;
}

:root {
    --primary-color: #0f868a;
    --text-primary: #202020;
    --primary-color-hover: #0b6c70;
}

body {
    color: var(--text-primary);
    background-color: var(--background-secondary);
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}

.txt-primary {
    color: var(--primary-color);
}

.hover\:txt-primary:hover {
    color: var(--primary-color);
}

.hover\:txt-primary-hover:hover {
    color: var(--primary-color-hover);
}

.bg-primary {
    background-color: var(--primary-color);
}

.transition {
    transition-property: color, max-height;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.transition-max-height {
    transition-property: max-height;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}